<!DOCTYPE html>
<html>
<style>
    h1 {
        font-family: Montserrat;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top: 50%;
    }
    body {
        background: #606060;
    }
</style>
<head>
    <meta charset="utf-8" />
    <title>gi-service - веб-сервис для поиска стихов</title>
</head>
<body>
<h1>Oops.. Something went wrong, but we are sure that the <a href="/">"main"</a> page is still in place :)</h1>
</body>
</html>