<!DOCTYPE html>
<html>
<style>
    h1 {
        font-family: Montserrat;
        color: #008000;
    }
    p {
        font-family: Montserrat;
        font-size: 16px;
    }

    #enterButton{
        background-color: #008000;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: Montserrat;
    }
</style>
<head>
    <meta charset="utf-8" />
    <title>gi-service - веб-сервис для поиска стихов</title>
</head>
<body>
    <h1>GI-SERVICE</h1>
    <div>
        <p>Система <strong>gi-service</strong> - это веб-сервис, который позвляет определить является ли введенный текст стихом.</p>
        <p>Также данный сервис позволяет вывести имеющиеся в базе стихи по категориям - о природе, о любви и о Родине.</p>
        <a href="/greeting" class="button" id="enterButton">Войти</a>
    </div>
</body>
</html>