<!DOCTYPE HTML>
<html>
<style>
    h1 {
        color: #008000;
    }
    pre {
        margin: 5%;
        text-indent: 0;
        font-size: 24px;
        font-family: Montserrat;
    }
</style>
<head>
    <title>GI-SERVICE: Classify your text!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Читать стихи</h1>
<h2><a href="/greeting">Перейти к классификатору</a></h2>
<h2><a href="/verses">Назад к категориям</a></h2>
<h2><a href="/verses/{{category}}">Назад к стихам</a></h2>
<br>
<h2 style="margin: 5%;">{{verseName}}</h2>
<pre>
    {{verse}}
</pre>
</body>
</html>